.form {
    background: white;
    border: 1px solid lightgrey;
    width: fit-content;
}

.form-input {
    margin: 10px;
    border: none;
    outline: none;
    font: normal 17px/100% verdana, sans-serif;
}

.form-input label {
    display: inline-block;
    width: 120px;
}

.form-input input {
    display: inline-block;
    border: 1px solid lightgray;
    outline: none;
    height: 30px;
    font: normal 20px/100% verdana, sans-serif;
}

.form-submit {
    background: #8764e7;
    border: 2px solid lightgray;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    width: 90px;
    height: 40px;
    font: normal 19px/100% verdana, sans-serif;
}