.header {
    background: lightgray;
    border: none;
    margin: 0;
    padding: 0;

    font: normal verdana, sans-serif;
    text-align: center;
}

h1 {
    color: white;
    margin: 0;
    padding: 20px;
}